<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
    <ion-title>Pickup call</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img src="https://m.media-amazon.com/images/I/61nTuLYI7pL._AC_SL1000_.jpg" alt="">
  <ion-card>
  <ion-card-content>
    <p>Address: Clementineshire street, 111</p>
    <p>Complement: Apto street, 222</p>
    <p>Zip code: 36919</p>
    <p>City: berg</p>
  </ion-card-content>
</ion-card>
<ion-list>
  <ion-item lines="inset">
    <ion-label position="floating">Notes</ion-label>
    <ion-textarea></ion-textarea>
  </ion-item>
</ion-list>
<ion-button size="full" (click)="newPickupCall()" color="tertiary">Create pickup call</ion-button>
</ion-content>
