<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
    <ion-title>My pickup calls</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-pickup-call-card status="hold" UpdatedAt="27/07/2019 19:45" CreatedAt="4/06/2022" notes=" we have tow bags that are full, Lorem ipsum dolor sit amet
  consectetur"></app-pickup-call-card>
  <app-pickup-call-card status="progressing" UpdatedAt="24/05/2020 10:00" CreatedAt="4/06/2022" notes=" we have tow bags that are full, Lorem ipsum dolor sit amet
  consectetur, adipisicing elit."></app-pickup-call-card>
 <app-pickup-call-card status="finished" UpdatedAt="23/05/2019 18:00" CreatedAt="4/06/2022" value="$ 15,00"></app-pickup-call-card>
</ion-content>